* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, Helvetica, sans-serif;
}

a,
button {
  cursor: pointer;
}

body {
  background-color: #f3f4f7;
}

.mainContainer {
  position: relative;
}

.profile {
  margin-top: 56px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    to top,
    #ffffff,
    rgba(255, 255, 255, 0.9),
    rgba(237, 240, 206, 0.292),
    rgba(224, 226, 195, 0.9),
    rgba(162, 151, 89, 0.386)
  );
}

.profileCoverImgBox {
  display: flex;
  position: relative;
  overflow: hidden;
  max-width: 1250px;
  min-width: 0;
  width: 100%;
  aspect-ratio: 16 / 6;
  display: flex;
  flex-grow: 1;
  margin: 0 auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.profileCoverImg {
  flex-grow: 1;
  width: 100%;
  object-fit: cover;
}

.profileInfo {
  padding: 24px 30px 10px 30px;
  max-width: 1198px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
}

.profileImgBox {
  position: relative;
}

.profileImg {
  width: 168px;
  height: 168px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid white;
}

.profileInfoRight {
  display: flex;
  gap: 24px;
  align-items: center;
}

.profileTxtInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #080809;
}

.profileName {
  font-size: 32px;
  font-weight: 600;
  margin: 0;
}

.profileFollowInfo {
  display: flex;
  gap: 4px;
  font-weight: 600;
  font-size: 15px;
  align-items: center;
  margin: 0;
}

.profileFollowInfoTxt1 {
  margin: 0;
}

.profileFollowInfoTxt2 {
  margin: 0;
}

.profileBio {
  font-weight: 400;
  font-size: 15px;
  margin: 0;
}

.profileInfoBtns {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.profileInfoBtn {
  padding: 0 12px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 15px;
  background-color: #e2e5e9;
  color: #080809;
  border-radius: 8px;
  border: none;
  overflow: hidden;
}

.profileInfoBtnIcon {
  width: 16px;
  height: 16px;
}

.profileInfoBlueBtn {
  background-color: #0866ff;
  color: white;
}

.profileInfoMessengerIcon,
.profileInfoAddStoryrIcon {
  filter: drop-shadow(0px 100px 0 #fff);
  transform: translateY(-100px);
}

.profileDecoLine {
  max-width: 1186px;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #e2e5e9;
  margin: 0 auto;
  margin-top: 20px;
}

.profileNavigationBtns {
  width: 100%;
  max-width: 1186px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px auto;
  padding-inline: 16px;
}

.profileLeftNavigationBtns {
  display: flex;
  height: 100%;
}

.profileNavigationBtnBox {
  color: #65686c;
  height: 100%;
}

.profileNavigationBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #65686c;
  height: 100%;
  border: none;
  background-color: transparent;
  padding-inline: 16px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 10px;
}

.profileNavBtnWithArr {
  overflow: hidden;
  display: flex;
  border: none;
  background-color: transparent;
  color: #65686c;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding-inline: 16px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 10px;
}

.profileNavBtnArrIcon {
  height: 10px;
  width: 10px;
  filter: drop-shadow(0px 100px 0 #65686c);
  transform: translateY(-100px);
}

.profileThreeDotBtn {
  width: 48px;
  height: 36px;
  background-color: #e2e5e9;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileThreeDotBtnIcon {
  height: 16px;
  width: 16px;
}

.profileNavBtnActiveDecoLine {
  height: 3px;
  width: 100%;
  background-color: #0866ff;
  border-radius: 10px;
}

.activeProfileNavigationButton {
  color: #0866ff;
}

.profileBioResponsive {
  margin-top: 15px;
  display: none;
}

@media (max-width: 1250px) {
  .profileCoverImgBox {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

@media (max-width: 900px) {
  .profileImgBox {
    position: absolute;
    top: -160px;
  }

  .profileInfo {
    margin-top: 80px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .profileInfoRight {
    flex-direction: column;
    text-align: center;
  }

  .profileFollowInfo {
    justify-content: center;
  }

  .profileBio {
    display: none;
  }

  .profileBioResponsive {
    display: inline-block;
  }
}

@media (max-width: 568px) {
  .profileFollowersBtn {
    display: none;
  }
}

@media (max-width: 468px) {
  .profileVideosBtn {
    display: none;
  }
}

@media (max-width: 386px) {
  .profilePhotosBtn {
    display: none;
  }
}

.profileContent {
  display: flex;
  align-items: start;
  gap: 17px;
  max-width: 1202px;
  width: 100%;
  margin: 17px auto;
  padding: 0 16px;
}

.profileContentLeftBox {
  width: 100%;
  max-width: 490px;
  display: flex;
}

.profileContentLeft {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 17px;
  top: 56px;
}

.profileContactInfo {
  background-color: white;
  width: 100%;
  border-radius: 10px;
  padding: 16px;
}

.profileContactInfoTxt {
  color: #080809;
  font-size: 20px;
  font-weight: 700;
  margin: 4px 0px 12px;
}

.profileContactInfoFlexItem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 0;
}

.profileContactInfoIcon {
  width: 24px;
  height: 24px;
}

.profileContactNameBtn {
  border: none;
  background-color: transparent;
  color: #080809;
  font-weight: 600;
  font-size: 15px;
}

.allPhotosWindow {
  background-color: white;
  width: 100%;
  border-radius: 10px;
  padding: 16px;
}

.allPhotosWindowTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.allPhotosWindowTopTxt {
  color: #080809;
  font-weight: 700;
}

.allPhotosWindowTopBtn {
  border: none;
  background-color: transparent;
  color: #0064d1;
  font-size: 17px;
  font-weight: 400;
}

.allPhotosContainer {
  padding: 16px 0;
  width: 100%;
  display: grid;
  gap: 0.5%;
  grid-template-columns: repeat(3, 33.333333333333336%);
  border-radius: 100px;
}

.allPhotosContainerImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.borderRadiusTopLeft {
  border-top-left-radius: 10px;
}

.borderRadiusTopRight {
  border-top-right-radius: 10px;
}

.borderRadiusBottomLeft {
  border-bottom-left-radius: 10px;
}

.borderRadiusbottomRight {
  border-bottom-right-radius: 10px;
}

.postsContainer {
  width: 100%;
  max-width: 680px;
}

.positionFixed {
  position: fixed;
}

.activeUserProfile {
  background-image: linear-gradient(white);
}

.activeUserCoverImgUploadBtn {
  position: absolute;
  bottom: 15px;
  right: 30px;
  width: 163.68px;
  height: 36px;
  border-radius: 8px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
}

.activeUserCoverImgUploadIcon {
  background-image: url(icons/iconCompilation10.png);
  background-position: 0px -42px;
  background-size: 21px 76px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
}

.activeUserCoverImgUploadTxt {
  font-size: 15px;
  color: #080809;
  font-weight: 600;
}

.activeUserProfileImgUploadBtn {
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #e2e4e8;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
}

.activeUserProfileImgUploadIcon {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v4/yZ/r/uBgK6wu5PW_.png);
  background-position: 0px -21px;
  background-size: 21px 76px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}

.hoverDarkGrayBtn:hover {
  background-color: #d7d9dd;
}

.hoverLightGrayBtn:hover {
  background-color: #f2f2f2;
}

@media (max-width: 900px) {
  .profileContent {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .profileContentLeftBox {
    max-width: 680px;
  }

  .profileContentLeft {
    max-width: 680px;
  }

  .positionFixed {
    position: static;
  }

  .activeUserCoverImgUploadBtn {
    width: 48px;
  }

  .activeUserCoverImgUploadTxt {
    display: none;
  }
}
