.mainPageHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
  height: 56px;
  width: 100vw;
  box-shadow:
    0 2px 4px #0000001a,
    0 8px 16px #0000001a;
  background-color: white;
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
}

.mainPageHeadLeft {
  display: flex;
  align-items: center;
  gap: 10px;
}

.mainPageHeadLogo {
  height: 40px;
  width: 40px;
}

.mainPageHeadSearchBox {
  width: 240px;
  height: 40px;
  position: relative;
}

.mainPageHeadSearchIcon {
  position: absolute;
  top: 1px;
  left: 5px;
  width: 38px;
  height: 38px;
}

.mainPageHeadSearchInput {
  width: 100%;
  height: 100%;
  padding-left: 40px;
  background-color: #f1f2f5;
  border: none;
  border-radius: 40px;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.mainPageHeadCent {
  display: flex;
  gap: 4px;
}

.mainPageHeadCenterBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 50px;
  border: none;
  background-color: transparent;
  border-radius: 15px;
  position: relative;
}

.mainPageHeadCenterBtnIcon {
  width: 22px;
  height: 22px;
  object-fit: contain;
}

.mainPageHeadCenterBtnActiveDecoLine {
  height: 3px;
  border-radius: 20px;
  width: 100%;
  border-color: #0966ff;
  background-color: #0966ff;
  position: absolute;
  bottom: -3px;
}

.mainPageHeadRight {
  display: flex;
  align-items: center;
  gap: 8px;
}

.mainPageHeadFindFriendsBtn {
  background-color: #e2e4e8;
  width: 109px;
  height: 38px;
  font-size: 15px;
  border-radius: 30px;
  border: none;
  font-weight: 600;
}

.mainPageHeadFindFriendsBtn:hover {
  background-color: #d7d9dd;
}

.mainPageHeadRightBtn {
  border: none;
  border-radius: 50%;
  background-color: #e2e4e8;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainPageHeadRightBtnIcon {
  width: 20px;
  height: 20px;
}

.mainPageHeadRightBtn:hover {
  background-color: #d7d9dd;
}

.mainPageHeadProfileBtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  border: 0.1px solid rgb(181, 181, 181);
}

.mainPageHeadUserProfPict {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.mainPageHeadUserProfArrBtnBox {
  border-radius: 50%;
  position: absolute;
  bottom: -3px;
  right: -3px;
  background-color: #e2e4e8;
  border: 2px solid white;
  width: 17px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.mainPageHeadUserProfArrBtn {
  width: 9px;
  height: 9px;
}

.headerProfileClickWindow {
  position: absolute;
  right: 18px;
  top: 52px;
  border-radius: 12px;
  background-color: white;
  box-shadow:
    0 12px 28px 0 rgba(0, 0, 0, 0.2),
    0 2px 4px 0 rgba(0, 0, 0, 0.1);
  width: 360px;
  padding: 8px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.logOutWindowProfiles {
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  width: 97%;
  padding: 4px 4px 10px 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logOutWindowProfileBtn {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
  padding: 15px 8px;
  border-radius: 8px;
}

.logOutWindowActiveUserName {
  font-size: 17px;
  font-weight: 600;
  color: #080809;
}

.logOutWindowActiveUserProf {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 50%;
}

.logOutWindowDecoLine {
  height: 1px;
  width: 95%;
  border-bottom: 1px solid #d0d3d7;
  margin: 4px 0 15px 0;
}

.logOutWindowSeeAllProfilesBtn {
  width: 95%;
  height: 36px;
  background-color: #e2e5e9;
  border: none;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.logOutWindowSeeAllProfilesIcon {
  background-image: url(icons/iconCompilation11.png);
  background-position: 0px -256px;
  background-size: 25px 273px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: inline-block;
}

.logOutWindowSeeAllProfilesTxt {
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  color: #080809;
}

.logOutWindowBtn {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  background-color: transparent;
  border-radius: 8px;
  padding: 10px;
}

.logOutWindowBtnLeft {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logOutBtnIconBox {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #e2e5e9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logOutBtnIcon {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}

.settingsIcon {
  background-image: url(icons/iconCompilation17.png);
  background-position: -21px -348px;
  background-size: 73px 450px;
}

.helpIcon {
  background-image: url(icons/iconCompilation11.png);
  background-position: 0px -193px;
  background-size: 25px 273px;
}

.displayIcon {
  background-image: url(icons/iconCompilation18.png);
  background-position: 0px -21px;
  background-size: 21px 190px;
}

.feedbackIcon {
  background-image: url(icons/iconCompilation19.png);
  background-position: 0px -134px;
  background-size: 25px 459px;
}

.logOutIcon {
  background-image: url(icons/iconCompilation19.png);
  background-position: 0px -176px;
  background-size: 25px 459px;
}

.logOutBtnArr {
  background-image: url(icons/iconCompilation9.png);
  background-position: 0px -133px;
  background-size: 33px 996px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  display: inline-block;
}

.logOutBtnTxt {
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  color: #080809;
}

.headerProfileClickWindow {
  padding: 15px;
  overflow: hidden;
  gap: 10px;
}

.headerSelectProfileWindowTop {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.hidden {
  display: none;
}

@media (max-width: 1379px) {
  .mainPageHeadCenterBtn {
    max-width: 111.6px;
  }
}

@media (max-width: 1260px) {
  .mainPageHeadFindFriendsBtn {
    display: none;
  }
}

@media (max-width: 1259px) {
  .mainPageHeadSearchBox {
    width: 40px;
  }

  .mainPageHeadSearchIcon {
    position: absolute;
    top: 1px;
    left: 2px;
    width: 38px;
    height: 38px;
  }

  .mainPageHeadSearchInput {
    border-radius: 50%;
  }

  .mainPageHeadSearchInput::placeholder {
    display: none;
  }
}

@media (max-width: 1099px) {
  .mainPageHeadCenterBtn {
    max-width: calc(15vw - 55px);
  }
}

@media (max-width: 700px) {
  .mainPageHeadCenterBtn {
    display: none;
  }
}

@media (max-width: 600px) {
  .headerProfileClickWindow {
    width: 97vw;
    right: 1.5vw;
  }
}
