* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, Helvetica, sans-serif;
}

a,
button {
  cursor: pointer;
}

body {
  background-color: #f3f4f7;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  padding-top: 56px;
  overflow: hidden;
}

.mainPageMainContent {
  display: flex;
  max-width: 1464px;
  width: 100vw;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 12px;
}

.mainPageLeftBtnsContainerBox {
  min-width: 320px;
  max-width: 320px;
}

.mainPageLeftBtnsContainer {
  padding-top: 10px;
  padding-bottom: 20px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  max-width: 320px;
  height: 95vh;
  margin-left: 17px;
  position: fixed;
}

.mainPageLeftBtnsContainer::-webkit-scrollbar {
  width: 7px;
}

.mainPageLeftBtnsContainer::-webkit-scrollbar-thumb {
  background: #bdbfc3;
  border-radius: 15px;
}

.mainPageLeftBtnBox {
  padding: 8px;
  width: 100%;
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  gap: 15px;
  border-radius: 10px;
  text-align: left;
}

.mainPageLeftBtnBoxUrlIcon {
  background-image: url(icons/iconsComplitaion.webp);
  background-size: 37px 1702px;
  background-repeat: no-repeat;
  display: inline-block;
}

.mainPageLeftBtnBoxMessengerIcon {
  background-image: url(icons/iconCompilation2.webp);
  background-position: 0px 0px;
  background-size: 37px 204px;
  background-repeat: no-repeat;
  display: inline-block;
}

.mainPageLeftSeeMoreBtnIconBox {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2e4e8;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  margin-top: 5px;
}

.mainPageLeftBtnBox:hover {
  background-color: #d8d9dd;
}

.mainPageLeftBtnBoxIcon {
  width: 36px;
  height: 36px;
}

.mainPageLeftBtnBoxProfIcon {
  border-radius: 50%;
  border: 0.3px solid rgb(123, 123, 123);
  object-fit: cover;
}

.mainPageLeftBtnBoxTxt {
  font-size: 15px;
}

.mainPageLeftSeeMoreBtnIcon {
  height: 12px;
  width: 12px;
}

.mainPageLeftHiddenBtnBox {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.mainPageLeftSeeLessBtnIcon {
  transform: rotate(180deg);
}

.mainPageFeed {
  width: 100%;
  min-width: 0;
  max-width: 680px;
  margin-inline: 32px;
  padding-top: 15px;
}

.mainPageBoxes {
  display: flex;
  gap: 7px;
  align-items: center;
  background-color: white;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  padding: 12px 16px 10px 16px;
  margin-bottom: 12px;
}

.mainPagePostCrBoxBtn1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  min-height: 40px;
  flex-grow: 1;
  padding: 8px 0 8px 12px;
  border: none;
  border-radius: 30px;
  background-color: #f0f2f5;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  color: #64686c;
}

.mainPagePostCrBoxBtn1:hover {
  background-color: #e4e5e8;
}

.postCrProfBtn {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  position: relative;
}

.mainPagePostCrBoxProfImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.mainPagePostCrBoxBtn2 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 15px;
  cursor: pointer;
}

.mainPageStoryCrBtnBox {
  padding-inline: 8px;
}

.mainPagePostCrBoxIcon {
  width: 24px;
  height: 24px;
}

.mainStoryAddBtn {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  background-color: transparent;
  padding: 8px;
  border-radius: 15px;
}

.storyAddIconBox {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.storyAddIcon {
  width: 20px;
  height: 20px;
}

.blueBtn {
  background-color: #ebf5ff;
  color: #0866ff;
}

.storyAddBtnTxts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.storyAddBtnTxt1 {
  font-size: 17px;
  line-height: 21px;
  color: #080809;
  font-weight: 600;
  text-align: left;
}

.storyAddBtnTxt2 {
  font-size: 15px;
  line-height: 20px;
  color: #65686c;
  text-align: left;
}

.mainPagePosts {
  display: flex;
  flex-direction: column;
}

.mainPageGrChatsWindowBox {
  min-width: 320px;
  padding-top: 10px;
}

.mainPageGrChatsWindow {
  position: fixed;
  margin-inline: 10px;
}

.groupChatTxt {
  font-size: 17px;
  line-height: 21px;
  color: #65686c;
  font-weight: 600;
  margin-bottom: 10px;
}

.crGroupChatBtn {
  display: flex;
  gap: 12px;
  align-items: center;
  border: none;
  background-color: transparent;
  width: 300px;
  height: 44px;
  border-radius: 10px;
  padding-left: 5px;
}

.crGroupChatBtn:hover{
  background-color: #e6e7ea;
}

.crGroupChatBtn:hover .addChatIconBox{
  background-color: #d7d9dd;
}

.addChatIconBox {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2e5e9;
  border-radius: 50%;
}

.addChatIcon {
  background-image: url(icons/iconsCompliation3.webp);
  background-position: 0 -302px;
  background-size: 25px 509px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}

.crGroupChatTxt {
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
  color: #080809;
  text-align: left;
}

@media (max-width: 1920px) {
  .mainPageMainContent {
    max-width: none;
  }
}

@media (max-width: 1100px) {
  .mainPageLeftBtnsContainerBox {
    display: none;
  }
}

@media (max-width: 900px) {
  .mainPageMainContent {
    align-items: center;
    justify-content: center;
  }
  .mainPageGrChatsWindowBox {
    display: none;
  }

  .mainPageFeed {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }
}

.profBtnOverlay {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #6f727831;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
  position: absolute;
  top: 0;
}

.profileBtn:hover .profBtnOverlay {
  opacity: 1;
}

.postCreateWindowBox {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f494;
  z-index: 9999;
}

.postCreateWindow {
  max-width: 500px;
  width: 100%;
  background-color: white;
  box-shadow:
    0 12px 28px 0 rgba(0, 0, 0, 0.2),
    0 2px 4px 0 rgba(0, 0, 0, 0.1),
    inset 0 0 0 1px rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.postCreateWindowCloseBtn {
  position: absolute;
  top: 15px;
  right: 13px;
}

.postCreateWindowTxt {
  text-align: center;
  padding: 20px 0;
  font-weight: 700;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 20px;
  line-height: 23px;
  color: #080809;
}

.postCreateWindowActiveUserInfo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
  padding: 0 16px;
}

.postCreateWindowActiveUserImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.postCreateWindowUserInfoRight {
  display: flex;
  flex-direction: column;
}

.postCreateWindowUserName {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}

.postCreateWindowAudienceBtn {
  width: 87.14px;
  height: 26.23px;
  display: flex;
  gap: 5px;
  padding: 4px 8px;
  background-color: #e2e5e9;
  border: none;
  align-items: center;
  border-radius: 6px;
}

.postCreateWindowAudienceBtnIcon {
  width: 12px;
  height: 12px;
}

.postCreateWindowAudienceBtnArr {
  width: 8px;
  height: 8px;
}

.postCreateWindowAudienceBtnTxt {
  font-size: 13px;
  color: #080809;
}

.postCreateWindowCentralPart{
  max-height: 50vh;
  overflow-y: auto;
}

.postCreateWindowTxtInputBox {
  padding: 0 16px;
  width: 100%;
  flex-grow: 1;
}

.postCreateWindowTxtInput {
  border: none;
  width: 100%;
  display: flex;
  position: relative;
  resize: none;
  field-sizing: content;
  font-size: 24px;
  overflow: visible;
  margin-bottom: 16px;
}

.postCreateWindowTxtInput:focus {
  outline: none;
}

.postCreateWindowUploadedImgBox{
  position: relative;
  margin: 0 16px;
  max-width: calc(100% - 32px);
  width: 100%;
  margin-bottom: 16px;
}

.postCreateWindowUploadedImg{
  width: 100%;
  border-radius: 12px;
}

.postCreateWindowImgDeleteBtn{
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  background-color: white;
  width: 28.8px;
  height: 28.8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.postCreateWindowImgDeleteBtnIcon{
  width: 16px;
  height: 16px;
}

.postCreateWindowAddBox {
  margin: 0 16px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #d0d3d7;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postCreateWindowAddTxt {
  font-weight: 600;
  color: #080809;
  font-size: 15px;
  line-height: 20px;
}

.postCreateWindowImgLabel {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.postCreateWindowImgIcon {
  width: 24px;
  height: 24px;
}

.postCreateWindowPostBtn {
  margin: 16px;
  padding: 12px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  color: #bcc0c4;
  background-color: #e2e5e9;
  border-radius: 8px;
  border: none;
  font-weight: 600;
}

.postCreateWindowPostActiveBtn {
  background-color: #0866ff;
  color: white;
}

.hoverDarkGrayBtn:hover {
  background-color: #d7d9dd;
}

.hoverLightGrayBtn:hover {
  background-color: #f2f2f2;
}

.hidden {
  display: none;
}
