.mainPagePostItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 12px;
  position: relative;
}

.mainPagePostTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px 7px 15px;
}

.postTopLeft {
  display: flex;
  gap: 10px;
}

.postProfImg {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  object-fit: cover;
}

.postTopCenter {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.postTopCenterTop {
  display: flex;
  align-items: center;
  gap: 4px;
}

.postPageName {
  font-size: 15px;
  font-weight: 600;
  color: #080809;
  cursor: pointer;
}

.postPageName:hover {
  text-decoration: underline;
}

.postFollowBtn {
  font-size: 15px;
  color: #0064d1;
  border: none;
  background-color: transparent;
}

.postFollowBtnIfFollowed {
  color: #65686c;
}

.postTopCenterBottom {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #65686c;
}

.postAudienceIcon {
  width: 23px;
  height: 23px;
}

.postDate:hover {
  text-decoration: underline;
  cursor: pointer;
}

.postTopBtns {
  display: flex;
  gap: 5px;
}

.postTopBtn {
  width: 36px;
  height: 36px;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.postTopBtnIcon {
  width: 17px;
  height: 17px;
  filter: drop-shadow(0px 100px 0 #65686c);
  transform: translateY(-100px);
}

.postTxtContent {
  padding: 0 15px 10px 15px;
  font-size: 15px;
  color: #080809;
}

.postImgContentBox {
  margin-bottom: 15px;
}

.postImgContent {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.postLikesCommentsShares {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  padding-inline: 15px;
}

.postLikes {
  display: flex;
  align-items: center;
}

.postReactionIcons {
  display: flex;
  align-items: center;
  gap: -4px;
}

.postReactionIcon {
  width: 18px;
  width: 18px;
  cursor: pointer;
}

.postLikesNum {
  padding-inline: 4px;
  line-height: 1.3px;
  font-size: 15px;
  color: #65686c;
  cursor: pointer;
}

.postLikesNum:hover {
  text-decoration: underline;
}

.commentsAndShares {
  display: flex;
  align-items: center;
  gap: 7px;
  color: #65686c;
}

.postBtns {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  position: relative;
}

.postBtn {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  border: none;
  background-color: transparent;
  overflow: hidden;
  height: 35px;
  border-radius: 6px;
  color: #65686c;
}

.postBtnIcon {
  width: 20px;
  height: 20px;
}

.postMoreBtnsWindow {
  filter: drop-shadow(0 0px 6px rgba(0, 0, 0, 0.2));
  position: absolute;
  top: 68px;
  width: 344px;
  background-color: white;
  border-radius: 10px 0 10px 10px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.postMoreBtnsWindow::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background-size: 120px;
  background-repeat: no-repeat;
  background-image: url("icons/arrow_drop_down_FFFFFF.png");
  transform: rotate(315deg);
  z-index: 5;
}

.postMoreBtnsWindow::before {
  top: -55px;
  right: -25px;
}

.feedPagePostMoreBtnsWindow {
  right: 70px;
}

.innerPagePostMoreBtnsWindow {
  right: 30px;
}

.postMoreBtn {
  width: 100%;
  display: flex;
  padding: 6.5px 8px;
  align-items: center;
  gap: 10px;
  border: none;
  background-color: transparent;
  border-radius: 5px;
}

.postMoreBtn:hover {
  background-color: #f2f2f2;
}

.postMoreBtnIcon {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}

.marginTop-10px {
  margin-top: -10px;
}

.interestedBtnIcon {
  background-image: url(icons/iconCompilation5.png);
  background-position: 0px -256px;
  background-size: 25px 545px;
}

.notInterestedBtnIcon {
  background-image: url(icons/iconCompilation7.png);
  background-position: 0px -130px;
  background-size: 25px 185px;
}

.savePostBtnIcon {
  background-image: url(icons/IconCompilation6.png);
  background-position: 0px -88px;
  background-size: 25px 778px;
}

.notificationsBtnIcon {
  background-image: url(icons/iconCompilation8.png);
  background-position: 0px -126px;
  background-size: 21px 336px;
}

.turnOffNotificationsBtnIcon {
  background-image: url(icons/iconCompilation8.png);
  background-position: 0px -42px;
  background-size: 21px 336px;
}

.embedBtnIcon {
  background-image: url(icons/iconCompilation8.png);
  background-position: 0px -210px;
  background-size: 21px 336px;
}

.pinPostBtnIcon {
  background-image: url(icons/iconCompilation12.png);
  background-position: 0px -298px;
  background-size: 25px 416px;
}

.editPostBtnIcon {
  background-image: url(icons/iconCompilation13.png);
  background-position: 0px -21px;
  background-size: 21px 254px;
}

.editAudienceBtnIcon {
  background-image: url(icons/iconCompilation14.png);
  background-position: 0px -42px;
  background-size: 21px 63px;
}

.turnOffTranslationsBtnIcon {
  background-image: url(icons/iconCompilation11.png);
  background-position: 0px -235px;
  background-size: 25px 273px;
}

.editDateBtnIcon {
  background-image: url(icons/iconCompilation15.png);
  background-position: 0px -130px;
  background-size: 25px 786px;
}

.moverToArchiveBtnIcon {
  background-image: url(icons/iconCompilation16.png);
  background-position: 0px -192px;
  background-size: 25px 415px;
}

.moveToTrashBtnIcon {
  background-image: url(icons/iconCompilation16.png);
  background-position: 0px -360px;
  background-size: 25px 415px;
}

.postMoreBtnBoxTxts {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.postMoreBtnBoxTxt1 {
  font-size: 15px;
  line-height: 20px;
  color: #080809;
  font-weight: 500;
  display: flex;
}

.postMoreBtnBoxTxt2 {
  font-size: 12px;
  line-height: 17px;
  font-weight: 400;
  color: #65686c;
}

.postMoreBtnsDecoLine {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #d0d3d7;
  margin: 5px 0;
}

@keyframes postBtnMessage {
  0% {
    bottom: -80px;
  }

  3% {
    bottom: 20px;
  }

  97% {
    bottom: 20px;
  }

  100% {
    bottom: -80px;
  }
}

@keyframes postBtnMessage2 {
  0% {
    bottom: 20px;
  }

  100% {
    bottom: -80px;
  }
}

.postBtnMessageAnimation {
  animation: postBtnMessage 3s ease-out 0s 1 normal forwards;
}

.postBtnMessageAnimation2 {
  animation: postBtnMessage2 0.2s ease-out 0s 1 normal forwards;
}

.postBtnMessage {
  position: fixed;
  left: 20px;
  background-color: #242526;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 15px;
  border-radius: 10px;
  overflow: hidden;
  z-index: 9999;
}

.postBtnMessageTxt {
  font-size: 13px;
  color: #e2e4e8;
  width: 180px;
}

.postBtnMessageUndoBtn {
  border: none;
  background-color: transparent;
  color: #5ba6ff;
}

.postBtnMessageUndoBtn:hover {
  text-decoration: underline;
}

.postBtnMessageCloseBtn {
  border: none;
  background-color: #3a3b3c;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.postBtnMessageCloseBtn:hover {
  background-color: #4e4f50;
}

.postBtnMessageCloseBtnIcon {
  width: 10px;
  height: 10px;
  filter: drop-shadow(0px 100px 0 #fff);
  transform: translateY(-100px);
}

@media (max-width: 600px) {
  .postMoreBtnsWindow {
    border-radius: 10px;
    right: 1.5vw;
    top: 50px;
    margin: 0 auto;
    width: 97vw;
  }

  .postMoreBtnsWindow::before {
    display: none;
  }
}

.hiddenPostWindow,
.SnoozedPagePostWindow {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 20px;
}

.hiddenPostWindowBtn {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  gap: 15px;
}

.hiddenPostWindowBoxLeft {
  display: flex;
  align-items: center;
  gap: 15px;
}

.hiddenPostWindowIfSnoozedBox {
  justify-content: space-between;
}

.hiddenPostWindowBox1 {
  justify-content: space-between;
}

.hiddenPostWindowIcon {
  width: 20px;
  height: 20px;
}

.hiddenPostWindowTxts {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.hiddenPostWindowTxt1 {
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  color: #080809;
}

.hiddenPostWindowTxt2 {
  font-size: 12px;
  line-height: 17px;
  font-weight: 400;
  color: #65686c;
}

.hiddenPostWindowDecoLine {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #d0d3d7;
}

.hiddenPostWindowHideUndoBtn,
.hiddenPostWindowUndoSnoozeBtn {
  width: 62px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  background-color: #e2e4e8;
  font-size: 15px;
  line-height: 20px;
  color: #080809;
  font-weight: 600;
}

.hiddenPostWindowHideUndoBtn:hover,
.hiddenPostWindowUndoSnoozeBtn:hover {
  background-color: #d7d9dd;
}

@keyframes emojisWindowAppear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.postEmojisWindow {
  position: absolute;
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.1),
    0 2px 2px rgba(0, 0, 0, 0.1);
  background-color: white;
  display: flex;
  gap: 7px;
  border-radius: 40px;
  padding: 5px;
  top: -40px;
  animation: emojisWindowAppear 0.1s linear 0s 1 normal forwards;
}

.postEmoji {
  width: 39px;
  height: 39px;
}

@keyframes emojiScaleUp {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}

.postEmoji:hover {
  animation: emojiScaleUp 0.1s linear 0s 1 normal forwards;
  cursor: pointer;
}

.emojiReaction {
  width: 18px;
  height: 18px;
}

.blueTxtColor {
  color: #0866ff;
}

.redTxtColor {
  color: #dd2334;
}

.yellowTxtColor {
  color: #887000;
}

.postWindowBoxforComments {
  width: 100vw;
  height: 100vh;
  padding: 32px 0;
  background-color: #f4f4f494;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.postWindowForComments {
  max-width: 700px;
  height: 100%;
  max-height: calc(100vh - 64px);
  width: 100%;
  margin: 0 auto;
  background-color: white;
  border-radius: 12px;
  overflow: auto;
  position: relative;
}

.windowForCommentsTop {
  width: 100%;
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: center;
  gap: 40px;
  border-bottom: 1px solid #f0f2f5;
}

.windowForCommentsTxt {
  position: fixed;
  width: 100%;
  max-width: 700px;
  height: 60px;
  background-color: white;
  z-index: 1;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  font-size: 20px;
  line-height: 23px;
  color: #080809;
  font-weight: 700;
  vertical-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.windowForCommentsCloseBtnBox {
  z-index: 3;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 13px 15px;
  width: 100%;
  max-width: 700px;
}

.windowForCommentsCloseBtn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #e3e5e9;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  overflow: hidden;
}

.windowForCommentsCloseBtn:hover {
  background-color: #d7d9dd;
}

.windowForCommentsCloseBtnIcon {
  width: 15px;
  height: 15px;
  filter: drop-shadow(0px 100px 0 #080809);
  transform: translateY(-100px);
}

.commentsBox {
  width: 100%;
  padding: 12px 12px 90px 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.commentBox {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.commentAuthorImg {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  object-fit: cover;
}

.commentContentBox {
  background-color: #f0f2f5;
  color: #080809;
  border-radius: 16px;
  padding: 8px 12px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 608px;
  word-wrap: break-word;
}

.commentAuthorName {
  font-size: 13px;
  font-weight: 600;
}

.commentTxtContent {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}

.activeUserCommentWindow {
  position: fixed;
  bottom: 32px;
  width: 100%;
  max-width: 700px;
  padding: 15px;
  background-color: white;
  display: flex;
  align-items: flex-start;
  gap: 15px;
  border-top: 1px solid #ebebeb;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.activeUserCommentWindowProfImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.activeUserCommentInputBox {
  min-height: 36px;
  max-width: 630px;
  width: 100%;
  position: relative;
}

.activeUserCommentInput {
  background-color: #f0f2f5;
  border-radius: 18px;
  width: 100%;
  padding: 14px 40px 14px 0;
  resize: none;
  field-sizing: content;
  min-height: 36px;
  max-height: 30vh;
  border: none;
  padding-left: 15px;
  word-wrap: break-word;
}

.activeUserCommentInput:focus {
  outline: none;
}

.commentBtn {
  position: absolute;
  top: 10px;
  right: 13px;
  width: 25px;
  height: 25px;
  border: none;
  background-color: transparent;
  overflow: hidden;
}

.commentIcon {
  width: 20px;
  height: 20px;
  filter: drop-shadow(0px 100px 0 #bdc2c9);
  transform: translateY(-100px);
}

.commentActiveIcon {
  filter: drop-shadow(0px 100px 0 #0063da);
}

.hidden {
  display: none !important;
}
