* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
button {
  cursor: pointer;
}

.su_mainContent {
  background-color: #f1f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  padding-bottom: 60px;
  margin: 0 auto;
}

.su_formLogo {
  width: 302.77px;
  height: 100px;
  padding-top: 5px;
}

.su_formTop {
  width: 432px;
  border-radius: 8px 8px 0 0;
  box-shadow:
    0 2px 4px #0000001a,
    0 8px 16px #0000001a;
  background-color: white;
  padding: 10px 16px;
  margin-bottom: 0.3px;
}

.su_formText1 {
  font-size: 25px;
  line-height: 32px;
  text-align: center;
  color: #1c1e21;
}

.su_formText2 {
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: #606770;
}

.su_formBottom {
  width: 432px;
  padding: 16px;
  background-color: white;
  box-shadow:
    0 2px 4px #0000001a,
    0 8px 16px #0000001a;
  border-radius: 0 0 8px 8px;
  position: relative;
}

.su_formNames {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.su_formNameInpBox {
  position: relative;
}

.su_formErr {
  position: absolute;
  background-image: url(icons/su_pageIcons.png);
  background-size: 22px 204px;
  background-repeat: no-repeat;
  width: 21px;
  height: 21px;
  background-position: 0 0;
  left: auto;
  right: 9px;
  top: 10px;
  transform: scale(0.76);
}

.su_formNameInp {
  width: 194px;
  height: 40px;
  padding: 11px;
  font-size: 15px;
  line-height: 16px;
  border-radius: 5px;
  border: solid #ccd0d5;
  outline: none;
}

.su_formNameInp::placeholder {
  color: #8d949e;
}

.su_formNameInp:focus {
  border-color: #0060cc;
}

.su_formInpTop {
  position: relative;
  display: flex;
  align-items: center;
  margin: 2px 0 4px;
  color: #606770;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.su_formBdErr {
  right: 10.5px;
  top: 0px;
}

.su_formHelpBtn {
  border: none;
  background-color: transparent;
  margin-left: 4px;
  width: 12px;
  height: 12px;
  background-position: 0 -191px;
  background-image: url(icons/su_pageIcons.png);
  background-size: 22px 204px;
  background-repeat: no-repeat;
  display: inline-block;
}

.su_formBdSelects {
  display: flex;
  gap: 12px;
  margin-bottom: 10px;
}

.su_formSel {
  height: 36px;
  width: 125px;
  border-radius: 4px;
  color: #1c1e21;
  font-size: 15px;
  font-weight: 400;
  height: 36px;
  line-height: 20px;
  border: 1px solid #ccd0d5;
  appearance: none;
  background-image: url(icons/su_formSelArr.png);
  background-position: right 5px center;
  background-repeat: no-repeat;
  background-size: 14px;
  padding: 0 20px 0 8px;
}

.su_formGendErr {
  right: 10.5px;
  top: 0px;
}

.su_formSel:focus {
  border-color: #0060cc;
  outline: none;
}

.su_formGenInp {
  display: flex;
  gap: 12px;
  margin-bottom: 10px;
}

.su_formGenInpItem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid #ccd0d5;
  height: 36px;
  border-radius: 4px;
  width: 194px;
  font-size: 15px;
  line-height: 36px;
}

.su_formGendRadio {
  position: absolute;
  right: 10px;
  top: 10px;
}

.su_formGendLabel {
  width: 100%;
  padding-left: 10px;
}

.su_formWideInpBox {
  position: relative;
}

.su_formWideInp {
  padding: 11px;
  height: 40px;
  width: 100%;
  border: solid #ccd0d5;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 16px;
}

.su_formWideInp:focus {
  border-color: #0060cc;
  outline: none;
}

.su_formLearnMoreText {
  width: 100%;
  color: #777;
  font-size: 11px;
  margin: 11px 0;
  line-height: 1.34;
}

.su_formAddLink {
  color: #385898;
  text-decoration: none;
  font-size: 11px;
}

.su_formAddLink:hover {
  text-decoration: underline;
}

.su_formSuBtnBox {
  width: 100%;
  display: flex;
  justify-content: center;
}

.su_formSuBtn {
  display: inline-block;
  text-align: center;
  margin: 10px auto;
  width: 196px;
  height: 36px;
  border: none;
  background-color: #00a400;
  font-weight: 700 !important;
  color: white;
  font-size: 18px;
  border-radius: 5px;
}

.su_formSuBtn:hover {
  color: #eaebee;
}

.su_loginRedLink {
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  color: #1877f2;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
}

.su_footer {
  color: #8a8d91;
  font-size: 12px;
  padding-top: 54px;
  margin: 0 auto;
  max-width: 980px;
  width: 100%;
  font-family: system-ui, sans-serif;
}

.su_languages {
  padding-top: 8px;
  display: flex;
  gap: 10px;
}

.su_language {
  border: none;
  background-color: transparent;
  color: #385798;
  font-size: inherit;
}

.su_language:hover {
  text-decoration: underline;
}

.su_langChosen {
  color: #727272;
}

.su_links {
  display: flex;
  color: #385798;
  gap: 20px;
  font-family: system-ui, sans-serif;
}

.su_links a {
  text-decoration: none;
}

.su_links a:visited {
  color: #385798;
  text-decoration: none;
}

.su_links a:hover {
  text-decoration: underline;
}

.su_copyright {
  margin: 20px 0;
}

.su_decoLine {
  border-bottom: 1px solid #dddfe2;
  height: 8px;
  margin-bottom: 8px;
  width: 100%;
}

.su_formErrMessage {
  position: absolute;
  display: flex;
  z-index: 1;
}

.su_formErrMesMain {
  width: 141.42px;
  background-color: #be4b49;
  border-radius: 2px;
  box-shadow:
    0 0 0 1px #8b0300bf,
    0 1px 10px #00000059;
  color: #fff;
  font-size: 13px;
  max-width: 300px;
  padding: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.su_formErrMesArr {
  width: 18px;
  height: 18px;
  background-color: #be4b49;
  border-radius: 1px;
}

.su_formFnErrMessage{
  top: 70px;
  left: 50px;
}

.su_formFnErrMesArr{
  transform: translateX(-30px) translateY(-7px) rotate(45deg);
}

.su_formLnErrMessage {
  right: 52px;
  top: 70px;
}

.su_formLnErrMesArr {
  transform: translateX(-125px) translateY(-7px) rotate(45deg);
}

.su_formBdErrMesMain,
.su_formEmailErrMesMain,
.su_formPassErrMesMain {
  width: 278px;
}

.su_formGendErrMesMain {
  width: 326px;
}

.su_formFnErrMesArr,
.su_formBdErrMesArr,
.su_formEmailErrMesArr,
.su_formPassErrMesArr, 
.su_formGendErrMesArr {
  transform: translateX(-30px) translateY(-7px) rotate(45deg);
}

.su_formBdErrMessage{
  top: 140px;
  right: 0;
}

.su_formGendErrMessage {
  right: 0;
  top: 207px;
}

.su_formEmailErrMessage {
  right: 0;
  top: 257px;
}

.su_formPassErrMessage {
  right: 0;
  top: 307px;
} 


.su_formHelpBox {
  z-index: 1;
  background-color: white;
  position: absolute;
  width: 356px;
  padding: 12px;
  font-size: 13px;
  line-height: 16px;
  color: #65676b;
  box-shadow: 0 12px 28px #0003;
  left: 76px;
}

.su_formBdHelpBox {
  font-weight: lighter;
  height: 88px;
  top: 67px;
}

.su_formGendHelpBox {
  top: 130px;
}

.su_formBdHelpDiffTxt {
  font-weight: bolder;
}

.su_formBdHelpLink {
  color: #1877f2;
  text-decoration: none;
}

.su_formBdHelpLink:hover {
  text-decoration: underline;
}

.inpErr {
  border: solid #fe0100;
}

.hidden {
  display: none;
}